* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(242, 232, 218);
  h1 {
    color: rgb(43, 74, 63);
  }
}

$themecolor: blue;

header {
  h1 {
    color: $themecolor;
  }
}
