* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #9abdc2;
  width: 100%;
  padding: 1rem;
}

nav {
  background-color: #33606a;
}
nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 25px 25px;
}

nav ul li a {
  text-decoration: none;
  color: #ffefc6;
}
